.rbc-event {
  /* background: repeating-linear-gradient(
    45deg,
    #90c290,
    #90c290 10px,
    #82af82 10px,
    #82af82 20px
  ); */
  background-color: rgb(235, 235, 235);
  color: black;
}

.rbc-event.rbc-selected {
  background-color: rgb(220, 220, 220);
}

.rbc-today {
    background-color: #ecffea;
}